.App {
  margin: 0 auto;
}

.header {
  text-align: center;
  margin-top: 150px;
  font-size: 50px;
}

.picker {
  width: 400px;
  height: 200px;
  position: absolute;
  margin: 0px, -200px, 0px, -100px;
  top: 40%;
  left: 40%;
}
